.slick-prev.slick-arrow:before, .slick-next.slick-arrow:before {
    color: #7fbbc8;
}
.slick-prev, .slick-next {
    top: 100%;
}
.slick-prev{
    left: 43% !important;
}
.slick-next{
    right: 43% !important;
}
.slick-track{
    margin-top: 40px;
    margin-bottom: 40px;
}
.slick-slide>.p4>div{
    border-radius: 50%;
}
div.custom_slider_cards .custom_rounded{
   border-radius: 0 35px 20px 20px;
   box-shadow: 0px 4px 45px -10px #0AADD01A;
}


